/* COLORS */
.white {
  background-color: var(--color-white);
}
.black {
  background-color: var(--color-black);
}
.light-blue {
  background-color: var(--color-light-blue);
}
.semi-light-blue {
  background-color: var(--color-semi-light-blue);
}
.red {
  background-color: var(--color-red);
}
.dark-red {
  background-color: var(--color-dark-red);
}
.orange {
  background-color: var(--color-orange);
}
.yellow {
  background-color: var(--color-yellow);
}
.green {
  background-color: var(--color-green);
}
.gray {
  background-color: var(--color-gray);
}


/* Silvia De Negri  */
.grid-silvia {
  display:grid;
  grid-template-columns: 4fr 1fr 5fr 0.5fr 0.5fr 2fr 0.5fr 0.5fr 3fr 0.5fr 2fr 1fr 5fr;
  grid-template-rows: 1fr 0.5fr 1fr 1fr 5fr 0.5fr 1fr 0.5fr 0.5fr 4fr 3fr 0.5fr 4fr 2fr;

  width: 50vw;
  height: 100vh;
}

.horizontal-tube {
  grid-column: 1 / 15;
  grid-row: 2 / 3;
}

.tube {
  grid-row: 1 / 15;
  grid-column: 12 / 13;
}

.window {
  grid-row: 5 / 6;
  grid-column: 3 / 7;
}

.border-top {
  grid-row: 4 / 5;
  grid-column: 2 / 9;
}

.border-left {
  grid-row: 5 / 6;
  grid-column: 2 / 3;
}

.border-right {
  grid-row: 5 / 6;
  grid-column: 7 / 9 ;
}

.border-bottom {
  grid-row:  6 / 7 ;
  grid-column: 2 / 9 ;
}

.paviment {
  grid-row:  14 / 15;
  grid-column:  1 / 14;
}

.horizontal-shadow {
  grid-row:  12 / 13 ;
  grid-column:  5 / 11 ;
}

.vertical-shadow {
  grid-row:  9 / 13 ;
  grid-column:  10 / 11 ;
}

.top {
  grid-row: 8 / 10;
  grid-column: 4 / 10;
}

.left {
  grid-row: 10 / 12 ;
  grid-column:  4 / 6 ;
}

.center-top {
  grid-row: 10 / 11;
  grid-column: 6 / 10 ;
}

.center-left {
  grid-row: 11 / 12 ;
  grid-column: 6 / 9 ;
}

.center-right {
  grid-row: 11 / 12;
  grid-column: 9 / 10;
}


/* Luca Zammitti */
.grid-luca {
  width: 400px;
  height: 550px;
  background-color: rgb(255, 255, 255);
  box-shadow: 20px -20px #ffffff;
  display: grid; 
  grid-template-columns: 0.2fr 1.8fr; 
  grid-template-rows: 0.6fr 1.4fr 1fr; 
  grid-template-areas: 
    "blue-grid yellow-grid"
    "red-grid red-grid"
    "red-grid red-grid";
}

.blue-grid { 
grid-area: blue-grid; 
background-color: blue;
}

.yellow-grid { 
grid-area: yellow-grid;
background-color: rgb(255, 200, 0); 
}

.red-grid { 
grid-area: red-grid;
background-color: rgb(213, 27, 27); 
}

/* Pauline Peeters */
.grid-pauline {
  height: 500px;
  width: 500px;
  display: grid;

  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(4, 6rem);

  box-shadow: -10px 10px 0 var(--color-green);
}

.topbar{
  /*background-color: var(--color-light-blue);*/

  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.rightbar {
  grid-row: 2 / 5;
  grid-column: 2 / 5;
}
.leftbar {

  grid-row: 2 / 5;
  grid-column: 1 / 2;
}


/* Merlin Royer */
.grid-merlin {
  height: 60%;
  width: 90%;

  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);

  background-color: rgb(60, 54, 48);
}

.frame-1 {
  grid-column: 1 /span 10;
  grid-row: 1 / 2;

  background-color: var(--color-white);
}

.frame-2 {
  grid-column: 10 / 11;
  grid-row: 1 / span 10;

  background-color: var(--color-white);
}

.plank-1 {
  grid-column: 1 / span 4;
  grid-row: 4 / span 7;

  background-color: rgb(154, 107, 61);
}

.plank-2 {
  grid-column: 4 / span 4;
  grid-row: 9 / span 2;

  background-color: rgb(178, 130, 82);
}

.plank-3 {
  grid-column: 7 / span 3;
  grid-row: 2 / span 9;

  background-color: rgb(142, 113, 85);
}

.pBlue {
  grid-column: 3 / span 7;
  grid-row: 2 / span 3;

  background-color: rgb(98, 196, 216);
}

.pBlack {
  grid-column: 4 / span 4;
  grid-row: 5  / span 4;

  background-color: rgb(0, 0, 0);
}

.pRed {
  grid-column: 4 /span 4;
  grid-row: 4;

  background-color: rgb(163, 2, 2);
}




/* Ece Sahin */
.grid-ece {
  width: 400px;
  height: 400px;
  
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: repeat(3, 3fr);
}

.frame-orange {
  grid-column: 2 / 4;
  grid-row: 1 / 3;

  background-color: var(--color-orange);
}

.frame-blue {
  grid-column: 1 / 2;
  grid-row: 1 / 4;

  background-color: var(--color-semi-light-blue);
} 

.frame-black {
  grid-column: 3 / 4;
  grid-row: 3 / 4;

  background-color: var(--color-black);
}

.frame-white {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  background-color: var(--color-white);
}