/* COLORS */
.white {
  background-color: var(--color-white);
}
.black {
  background-color: var(--color-black);
}
.light-blue {
  background-color: var(--color-light-blue);
}
.semi-light-blue {
  background-color: var(--color-semi-light-blue);
}
.red {
  background-color: var(--color-red);
}
.dark-red {
  background-color: var(--color-dark-red);
}
.orange {
  background-color: var(--color-orange);
}
.yellow {
  background-color: var(--color-yellow);
}
.green {
  background-color: var(--color-green);
}
.gray {
  background-color: var(--color-gray);
}

/* Silvia De Negri  */
.grid-silvia {
}
.grid-silvia-one {
}

/* Luca Zammitti */

/* Pauline Peeters */
.grid-pauline {
  display: grid;

  grid-template-columns: repeat(4, 4rem);
  grid-template-rows: repeat(4, 6rem);

  box-shadow: -10px 10px 0 var(--color-green);
}

.topbar{
  /*background-color: var(--color-light-blue);*/

  grid-row: 1 / 2;
  grid-column: 1 / 5;
}

.rightbar {
  grid-row: 2 / 5;
  grid-column: 2 / 5;
}
.leftbar {

  grid-row: 2 / 5;
  grid-column: 1 / 2;
}

.shadow {
  
}

/* Merlin Royer */

/* Ece Sahin */
.grid-ece {
  width: 200px;
  height: 300px;

}